* {
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  display: flex;
  /* float:left; */
  position: fixed;
  top: 0;
  left: 0;

  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  /* aspect-ratio: w/h; */
  width: 100vw;
  min-width: 500px;
  height: 100vh;
  min-height: 600px;

  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;

  /* align-self: auto; */
  /* align-content: space-around; */

  flex-flow: column nowrap;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: auto; */
  /* order: 0; */
  /* gap: 0; */
}


header {
  display: flex;
  position: relative;

  justify-content: center;
  align-items:center;
  
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  /* min-height: 50px; */

  background: url(Images/Head.jpg), rgba(255, 255, 255, 0.3);
  background-size: 100%;
  background-position:bottom;
  background-blend-mode: overlay;
  margin: 0;
  border-bottom: 3px solid goldenrod;
  padding: 0;

  align-content: center;
  flex-flow: row nowrap;
}

.logo {
  display: inline-flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: content-box;
}

.logo img {
  width: 45px;  /* 85 px original */
  height: 45px; /* 85 px original */

  margin: 0;
  border: 3px solid goldenrod;
  border-radius: 50%;
  padding: 0;
}

.title {
  display: inline-flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  margin: 0 20px;
  padding: 0;

  color: white;
  font-size: 2rem; /* 4 rem original */
  font-weight: bolder;
}

/* nav {

} */

main {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 80%;
  /* min-height: 900px; */

  background: url(Images/wallpaper1.jpg), rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  margin: 0;
  padding: 0 20px;

  flex-flow: row nowrap;
}

section {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  flex-flow: column nowrap;
}

footer {
  display: flex;
  position: relative;

  justify-content: space-evenly;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 10%;

  background-color:gray;
  margin: 0;
  border-top: 3px solid goldenrod;
  padding: 0;

  gap: 20px;
}

.footer-elements {
  display: inline-flex;
  margin: 0 10px;
}

.footer-elements a {
  color: white;
  font-size: 1rem; /* 200 px original */
  text-decoration: none;
}

.footer-elements a:hover {
  color: goldenrod;
  transform:scale(1.2);
  text-decoration: none;
}

.cardrow {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 25%;

  margin: 0;
  padding: 10px;

  align-content: center;
  
  flex-flow: row nowrap;
}

.card {
  display: flex;
  position: relative;

  box-sizing: border-box;
  /* width: 140px;*/
  height: 100%; /* 200 px original */
  aspect-ratio: 140/200;

  margin: 0 20px;
  border: 0;
  border-radius: 20px;
  padding: 0;
  
  flex-flow: row wrap;

  cursor: pointer;
  appearance: none;
  z-index: 1;

  background:url(Images/Cardreverse.jpg);
  background-blend-mode: normal;
  background-size: contain;
  background-position: center;
}

.card:checked {border: 3px solid gold}

:root {
  --por1: url(Images/Poro1.jpg);
  --por2: url(Images/Poro2.jpg);
  --por3: url(Images/Poro3.jpg);
  --por4: url(Images/Poro4.jpg);
  --por5: url(Images/Poro5.jpg);
  --por6: url(Images/Poro6.jpg);
  --por7: url(Images/Poro7.jpg);
  --por8: url(Images/Poro8.jpg);
  --por9: url(Images/Poro9.jpg);
  --por10: url(Images/Poro10.jpg);
  --por11: url(Images/Poro1.jpg);
  --por12: url(Images/Poro2.jpg);
  --por13: url(Images/Poro3.jpg);
  --por14: url(Images/Poro4.jpg);
  --por15: url(Images/Poro5.jpg);
  --por16: url(Images/Poro6.jpg);
  --por17: url(Images/Poro7.jpg);
  --por18: url(Images/Poro8.jpg);
  --por19: url(Images/Poro9.jpg);
  --por20: url(Images/Poro10.jpg);
}



#card1:checked {background-image: var(--por1);}
#card2:checked {background-image: var(--por2);}
#card3:checked {background-image: var(--por3);}
#card4:checked {background-image: var(--por4);}
#card5:checked {background-image: var(--por5);}
#card6:checked {background-image: var(--por6);}
#card7:checked {background-image: var(--por7);}
#card8:checked {background-image: var(--por8);}
#card9:checked {background-image: var(--por9);}
#card10:checked {background-image: var(--por10);}
#card11:checked {background-image: var(--por11);}
#card12:checked {background-image: var(--por12);}
#card13:checked {background-image: var(--por13);}
#card14:checked {background-image: var(--por14);}
#card15:checked {background-image: var(--por15);}
#card16:checked {background-image: var(--por16);}
#card17:checked {background-image: var(--por17);}
#card18:checked {background-image: var(--por18);}
#card19:checked {background-image: var(--por19);}
#card20:checked {background-image: var(--por20);}