* {
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  display: flex;
  /* float:left; */
  position: fixed;
  top: 0;
  left: 0;

  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  /* aspect-ratio: w/h; */
  width: 100vw;
  min-width: 500px;
  height: 100vh;
  min-height: 600px;

  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;

  /* align-self: auto; */
  /* align-content: space-around; */

  flex-flow: column nowrap;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: auto; */
  /* order: 0; */
  /* gap: 0; */
}


header {
  display: flex;
  position: relative;

  justify-content: center;
  align-items:center;
  
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  /* min-height: 50px; */

  background: url(Images/Head.jpg), rgba(255, 255, 255, 0.3);
  background-size: 100%;
  background-position:bottom;
  background-blend-mode: overlay;
  margin: 0;
  border-bottom: 3px solid goldenrod;
  padding: 0;

  align-content: center;
  flex-flow: row nowrap;
}

.logo {
  display: inline-flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: content-box;
}

.logo img {
  width: 45px;  /* 85 px original */
  height: 45px; /* 85 px original */

  margin: 0;
  border: 3px solid goldenrod;
  border-radius: 50%;
  padding: 0;
}

.title {
  display: inline-flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  margin: 0 20px;
  padding: 0;

  color: white;
  font-size: 2rem; /* 4 rem original */
  font-weight: bolder;
}

/* nav {

} */

main {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 80%;

  background: url(Images/wallpaper1.jpg), rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  margin: 0;
  padding: 0 20px;

  flex-flow: row nowrap;
}

section {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  flex-flow: column nowrap;
}

footer {
  display: flex;
  position: relative;

  justify-content: space-evenly;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 10%;

  background-color:gray;
  margin: 0;
  border-top: 3px solid goldenrod;
  padding: 0;

  gap: 20px;
}

.footer-elements {
  display: inline-flex;
  margin: 0 10px;
}

.footer-elements a {
  color: white;
  font-size: 1rem; /* 200 px original */
  text-decoration: none;
}

.footer-elements a:hover {
  color: goldenrod;
  transform:scale(1.2);
  text-decoration: none;
}

.cardrow {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 25%;

  margin: 0;
  padding: 10px;

  align-content: center;
  
  flex-flow: row nowrap;
}

.card {
  display: flex;
  position: relative;

  box-sizing: border-box;
  /* width: 140px;*/
  height: 100%; /* 200 px original */
  aspect-ratio: 140/200;

  margin: 0 20px;
  border: 0;
  border-radius: 20px;
  padding: 0;
  
  flex-flow: row wrap;

  cursor: pointer;
  appearance: none;
  z-index: 1;

  background:url(Images/Cardreverse.jpg);
  background-blend-mode: normal;
  background-size: contain;
  background-position: center;
}

:root {
  --por1: url(Images/Poro1.jpg);
  --por2: url(Images/Poro2.jpg);
  --por3: url(Images/Poro3.jpg);
  --por4: url(Images/Poro4.jpg);
  --por5: url(Images/Poro5.jpg);
  --por6: url(Images/Poro6.jpg);
  --por7: url(Images/Poro7.jpg);
  --por8: url(Images/Poro8.jpg);
  --por9: url(Images/Poro9.jpg);
  --por10: url(Images/Poro10.jpg);
  --por11: url(Images/Poro1.jpg);
  --por12: url(Images/Poro2.jpg);
  --por13: url(Images/Poro3.jpg);
  --por14: url(Images/Poro4.jpg);
  --por15: url(Images/Poro5.jpg);
  --por16: url(Images/Poro6.jpg);
  --por17: url(Images/Poro7.jpg);
  --por18: url(Images/Poro8.jpg);
  --por19: url(Images/Poro9.jpg);
  --por20: url(Images/Poro10.jpg);
  --card1Border: 2.5px solid goldenrod;
  --card2Border: 2.5px solid goldenrod;
  --card3Border: 2.5px solid goldenrod;
  --card4Border: 2.5px solid goldenrod;
  --card5Border: 2.5px solid goldenrod;
  --card6Border: 2.5px solid goldenrod;
  --card7Border: 2.5px solid goldenrod;
  --card8Border: 2.5px solid goldenrod;
  --card9Border: 2.5px solid goldenrod;
  --card10Border: 2.5px solid goldenrod;
  --card11Border: 2.5px solid goldenrod;
  --card12Border: 2.5px solid goldenrod;
  --card13Border: 2.5px solid goldenrod;
  --card14Border: 2.5px solid goldenrod;
  --card15Border: 2.5px solid goldenrod;
  --card16Border: 2.5px solid goldenrod;
  --card17Border: 2.5px solid goldenrod;
  --card18Border: 2.5px solid goldenrod;
  --card19Border: 2.5px solid goldenrod;
  --card20Border: 2.5px solid goldenrod;
}



#card1:checked {background-image: var(--por1); border: var(--card1Border)}
#card2:checked {background-image: var(--por2); border: var(--card2Border)}
#card3:checked {background-image: var(--por3); border: var(--card3Border)}
#card4:checked {background-image: var(--por4); border: var(--card4Border)}
#card5:checked {background-image: var(--por5); border: var(--card5Border)}
#card6:checked {background-image: var(--por6); border: var(--card6Border)}
#card7:checked {background-image: var(--por7); border: var(--card7Border)}
#card8:checked {background-image: var(--por8); border: var(--card8Border)}
#card9:checked {background-image: var(--por9); border: var(--card9Border)}
#card10:checked {background-image: var(--por10); border: var(--card10Border)}
#card11:checked {background-image: var(--por11); border: var(--card11Border)}
#card12:checked {background-image: var(--por12); border: var(--card12Border)}
#card13:checked {background-image: var(--por13); border: var(--card13Border)}
#card14:checked {background-image: var(--por14); border: var(--card14Border)}
#card15:checked {background-image: var(--por15); border: var(--card15Border)}
#card16:checked {background-image: var(--por16); border: var(--card16Border)}
#card17:checked {background-image: var(--por17); border: var(--card17Border)}
#card18:checked {background-image: var(--por18); border: var(--card18Border)}
#card19:checked {background-image: var(--por19); border: var(--card19Border)}
#card20:checked {background-image: var(--por20); border: var(--card20Border)}