body {
    background-color: black;
    font-family: Georgia;
}

.empty{
    background-color: transparent;
    left: 0;
}

.full{
    right: 0;
}

.paper{
    background-color: wheat;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.subtitle{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

br{
    display: block;
    margin: 50px;
}

.sectionimgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.sizematters{
    border-radius: 15px;
}

.column-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}