* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /*flex-direction: column; /*Modifica los ejes */
    justify-content:space-between; /*eje X */
    align-items: center; /*eje Y */
    align-content: flex-start;/* Actua sobre las lineas dentro del contenedor */
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: #333;
    min-height: 20vh;
    width: 100%;
}
/*Coge el primer hijo del padre*/
.flex-container div:nth-child(1) {
    background-color: red;
    /*flex-grow: 2; Determina el espacio que ocupan los hijos*/
    /*flex-shrink: 2; Al reves que grow*/
    flex-basis: 80%; /*Actua como un width*/
} 

/*flex-grow: flex-shrink, flex-basis*/
.flex-items {
    /* */
    min-width: 100px; /*Tamaño minimo. Para responsive */
    width: 20%;
    border: 1px solid green;
    background-color: #666;
}