.navBar{
  display: flex;
  margin: 10px;
  padding: 5px;
}

.logo img{
  height: 30px;
  width: 92px;
}

.input{
  height: 39px !important;
  line-height: 39px;
  margin-top: -42px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}