.flex-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */ /* row-reverse */
  /* display: inline-flex; */
  /* justify-content: space-between; */ /* Afecta al eje principal */
  align-items: flex-start; /* Afecta al eje transversal */ /* Por defecto hace stretch al eje transversal */ 
  align-content: center; /* afecta a todo el contenido del contenedor */
  flex-wrap: nowrap; /* salta el elemento a la siguiente linea si sobresale */
  justify-content: space-evenly;
  background-color: pink;
  /* flex-flow: column nowrap; */
}
/* Flex-grow fraccion del espacio del eje principal que ocupa el item, flex-shrink, flex-basis es un width*/ /* Shorthand Flex (Flex grow por def 0, Flex shrink por def 1, flex basis por def auto*/
.flex-items {
  height: 200px;
  border: 2px solid black;
  background-color: green;  
  width: 10%;
}

.flex-container div:nth-child(3) {
  color: red;
}