* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #abdefa;
}

header {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 10%;
  background-color: #4da8cf;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 0 0 0;
  overflow: visible;
  z-index: 1;
}

main {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: #8bd3f8;
}

section {
  height: 95%;
  width: 95%;
  box-sizing: border-box;
  position: relative;
  float: left;
  top: 2.5%;
  left: 2.5%;
}

footer {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  position: fixed;
  float: left;
  top: 90%;
  left: 10%;
  background-color: #4da8cf;
  z-index: -1;
  font-size: 0.75rem;
  text-align: right;
  padding: 10px;
  color: white;
}

table {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.reversecard {
  height: 160px;
  width: 100px;
  box-sizing: border-box;
  position: relative;
  float: left;
  left: 50%;
  margin: 0 0 0 -50px;
  border-radius: 10px;
  background-image:url(reversecard.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.card {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  -webkit-appearance: none;
  appearance: none;
}

.card:checked {
  animation-name: turncard;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

.card:not(:checked) {
  animation-name: turncard2;
  animation-play-state: running;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes turncard {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes turncard2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* CARD IMAGES */

#card11:checked {background-image:url(naipe.webp);}
#card12:checked {background-image:url(naipe.webp);}
#card13:checked {background-image:url(naipe.webp);}
#card14:checked {background-image:url(naipe.webp);}
#card15:checked {background-image:url(naipe.webp);}
#card16:checked {background-image:url(naipe.webp);}
#card17:checked {background-image:url(naipe.webp);}
#card18:checked {background-image:url(naipe.webp);}

#card21:checked {background-image:url(naipe.webp);}
#card22:checked {background-image:url(naipe.webp);}
#card23:checked {background-image:url(naipe.webp);}
#card24:checked {background-image:url(naipe.webp);}
#card25:checked {background-image:url(naipe.webp);}
#card26:checked {background-image:url(naipe.webp);}
#card27:checked {background-image:url(naipe.webp);}
#card28:checked {background-image:url(naipe.webp);}

#card31:checked {background-image:url(naipe.webp);}
#card32:checked {background-image:url(naipe.webp);}
#card33:checked {background-image:url(naipe.webp);}
#card34:checked {background-image:url(naipe.webp);}
#card35:checked {background-image:url(naipe.webp);}
#card36:checked {background-image:url(naipe.webp);}
#card37:checked {background-image:url(naipe.webp);}
#card38:checked {background-image:url(naipe.webp);}