* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  width: 100vw;
  height: 2.5em;
  box-sizing: border-box;
  background-color: rgb(107, 162, 99);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

nav {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  background-color: rgb(68, 179, 52);
  position: fixed;
  top: 2.5em;
  left: 0;
  overflow: hidden;
}

.navelements {
  display: inline;
  position: relative;
  float: left;
  line-height: 3em;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}



.navsearch {
  display: inline;
  position: relative;
  float: right;
  margin: 10px;
}

section {

}

article {

}

aside {

}

footer {

}
