.bcolor {
    background-color: rgba(128, 128, 128, 0.055);
}


.square {
    margin-top: 4%;
    margin-left: 7%;
}


.logo {
    text-transform: uppercase;
    border: 3px solid currentColor;
    border-color: rgba(0, 0, 0, 0.745);
    padding: 14px 28px 12px 28px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Verdana';
    color: black;
    letter-spacing: 1px;
}


.nav {
    margin-left: 79%;
    margin-top: -4%;
}

.nav ul {
    list-style: none;
}

.nav li{
    float: left;
}

.align {
    margin-left: 7%;
    margin-top: 18%;
}

.h1 {
    font-family: Garamond;
    font-weight: inherit;
    font-size: 73px;
}

.h2 {
    font-family: Garamond;
    font-weight: inherit;
    color: grey;
    margin-top: -3%;
    font-size: 24px;
}

.align2 {
    margin-left: 7%;
    margin-top: 13%;
    color: rgba(69, 67, 67, 0.285);
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.hh31 {
   font-weight: inherit;
   margin-bottom: 5%;
}

.color2 {
    background-color: rgba(0, 0, 0, 0.79);
    /* width: 100%;
    margin-left: 0%; */
}

.colorp {
    color: rgba(0, 0, 0, 0.079);
}

.square2 {
    border-style: none;
    margin-left: 7%;
    margin-top: -5%;
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: white;
}


.img1 {
    margin-top: 10%;
    width: 250px;
    height: 75px;
}

.hh32 {
    font-size: 18px;
    font-family: Verdana;
    color: rgba(0, 0, 0, 0.848);
    letter-spacing: 3px;
    font-weight: inherit;
}

.subr {
    text-decoration: none;
}

.text1 {
    padding-left: 2%;
    padding-right: 2%;
    color: rgba(0, 0, 0, 0.671);
}

.text3 {
    padding-left: 4%;
    padding-right: 4%;
    color: rgba(0, 0, 0, 0.671);
}

.subr2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.subr3 {
    text-decoration: none;
    color: grey;
    font-family: Verdana;
    letter-spacing: 3px;
}

ul {
    text-align: center;
    list-style: none;
    font-size: 18px;
}

.list1 {
    margin-left: -63%;
    margin-top: -3%;
}

.space1 {
    margin-top: 4%;
}

.space2 {
    margin-top: 0.5%;
}

.space3 {
    margin-top: 0.5%;
}

.list2 {
    margin-left: -5%;
    margin-top: -7.5%;
}

.space4 {
    margin-top: -7%;
}

.space5{
    margin-top: 0.8%;
}

.space6{
    margin-top: 0.8%;
}

.space7{
    margin-top: 0.8%;
}

.list3 {
    margin-left: 53%;
    margin-top: -10%;
}

.space9 {
    margin-top: 2%;
}

.space10 {
    margin-top: 2%;
}

#fondoe:hover {
    color: rgba(0, 0, 0, 0.158);
}

#fondoe2:hover {
    color: white;
}

.square3 {
    border-style: none;
    margin-left: 36%;
    margin-top: -26.5%;
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: white;
}

.square4 {
    border-style: none;
    margin-left: 65%;
    margin-top: -26.7%;
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: white;
}

.line {
    width: 83%;
    border-color: rgba(128, 128, 128, 0.23);
    margin-top: 6%;
}

.foot {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.633);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0%;
}

/* figcation {
    display:none;
    transition: all .5s;
}

figure:hover > figcaption {
    display:block;
    transition: all .5s;
} */