* {
  color: red;
}

p {
  color: blue;
  font-size: 40px;
}

.font-size {
  font-size: 60px;
}

.orange {
  color: orange;
}

#uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

[href] {
  color: magenta;
}

[href*='www.google.com'] {
  color: lightseagreen;
}

.pseudoclasses:visited {
  color: purple;
}

.pseudoclasses:hover {
  text-decoration: none;
}

.pseudoclasses:active {
  background-color: red;
}

.pseudoclasses:focus {
  font-size: 30px;
}

.pseudoclasses:disabled {
  cursor: not-allowed;
}

div.border {
  border: 1px solid red;

  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
}

div p {
  color: grey;
}

.white, .bg_black {
  color: white;
  background-color: black;
}

/* .white {
  color: white;
  background-color: black;
}

.bg_black {
  color: white;
  background-color: black;
} */

.fontFamily {
  font-family: fantasy;
}

.fontWeight {
  font-weight: bold;
}

.textAlign {
  text-align: center;
}

.square {
  height: 100px;
  width: 100px;
  border: greenyellow solid 5px;
  font-size: 16px;
}

.circle {
  height: 100px;
  width: 100px;
  border: aqua solid 5px;
  border-radius: 50%;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 15px;
}

.square-xs {
  height: 50px;
  width: 50px;
  border: aqua solid 5px;
}

.center {
  margin: 0 auto;
}

.overflow {
  overflow: scroll;
}

.hidden {
  visibility: hidden;
}

.displayNone {
  display: none;
}

.contentBox {
  box-sizing: content-box;
}

.borderBox {
  box-sizing: border-box;
}

.line {
  display: inline-block;
}

.positionAbsolute {
  position: absolute;
  top: 5px;
  right: 120px;
}

.positionFixed {
  position: fixed;
  top: 5px;
  right: 5px;
}

.positionSticky {
  position: sticky;
  top: 5px;
  left: 125px;
}

.positionStatic {
  position: static;
  top: 5px;
  right: 5px;
}

.positionRelative {
  position: relative;
  top: 5px;
  right: 5px;
}

.blue {
  border-color: blue;
}

.zIndex {
  z-index: 2;
  top: -10px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}
.clearRight {
  clear: right;
}

.clearLeft {
  clear: left;
}

.clearBoth {
  clear: both;
}