.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPanel {
  width: 200px;
  height: 200px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.credential {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credential label {
  align-self: flex-start;
}
