/* header */
header {
  background-color: blue;
  padding: 5px;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  width: 12%;
  height: 180px;
  align-items: center;
  border: 1px solid;
  margin: 5px;
  background-image: url(images/pokemon.png);
  background-position: center;
  background-repeat: no-repeat;
} 

.card-content{
  display: flex; 
  justify-content: center;

}
.butterfree:focus {
  background-image: url(images/Butterfree.png);
  background-position: center;
  background-repeat: no-repeat;
}

.pikachu:focus {
  background-image: url(images/pikachu.png);
  background-position: center;
  background-repeat: no-repeat;
}

.vulpix:focus {
  background-image: url(images/Vulpix_\(dream_world\).png);
  background-position: center;
  background-repeat: no-repeat;
}

.charizar:focus {
  background-image: url(images/charizard.png);
  background-position: center;
  background-repeat: no-repeat;
}

.charmander:focus {
  background-image: url(images/Charmander.png);
  background-position: center;
  background-repeat: no-repeat;
}

.meowth:focus {
  background-image: url(images/meowth.png);
  background-position: center;
  background-repeat: no-repeat;
}

.caterpie:focus {
  background-image: url(images/caterpie.png);
  background-position: center;
  background-repeat: no-repeat;
}

.squirtle:focus {
  background-image: url(images/squirtle.png);
  background-position: center;
  background-repeat: no-repeat;
}

.bulbasaur:focus {
  background-image: url(images/Bulbasaur_\(dream_world\).png);
  background-position: center;
  background-repeat: no-repeat;
}

.pidgeotto:focus {
  background-image: url(images/Pidgeotto.png);
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: transparent;
  padding: 0;
  min-width: 50px;
}