
.titular {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.row-1 {
    display: inline-block;
}

.card {
    width: 100px;
    height: 120px;
    border: 1px solid grey;
    margin: 15px;
    background-image: linear-gradient(45deg, rgb(254, 206, 206), rgb(249, 62, 62)) ;
}

.card:hover {
    background-image: linear-gradient(45deg, rgb(195, 157, 157), rgb(186, 48, 48)) ;
}


.row-2 {
    display: inline-block;
}


.row-3 {
    display: inline-block;
}

.row-4 {
    display: inline-block;
}

.uno-uno:focus {
    background-image: url(../css/cantantes/freddie.webp);
    background-size: 100px 120px;
}

.uno-cinco:focus {
    background-image: url(../css/cantantes/freddie.webp);
    background-size: 100px 120px;
}

.uno-dos:focus {
    background-image: url(../css/cantantes/robert.webp);
    background-size: 100px 120px;
}

.cuatro-cinco:focus {
    background-image: url(../css/cantantes/robert.webp);
    background-size: 100px 120px;
}

.uno-tres:focus {
    background-image: url(../css/cantantes/pucho.jpeg);
    background-size: 150px 120px;
    
}

.cuatro-uno:focus {
    background-image: url(../css/cantantes/pucho.jpeg);
    background-size: 130px 120px;
    background-repeat: no-repeat;
}

.uno-cuatro:focus {
    background-image: url(../css/cantantes/santi.jpeg);
    background-size: 140px 120px;
}

.dos-uno:focus {
    background-image: url(../css/cantantes/santi.jpeg);
    background-size: 140px 120px;
}

.dos-dos:focus {
    background-image: url(../css/cantantes/jim.jpeg);
    background-size: 100px 120px;
}

.tres-cuatro:focus {
    background-image: url(../css/cantantes/jim.jpeg);
    background-size: 100px 120px;
}

.dos-tres:focus {
    background-image: url(../css/cantantes/lennon.jpeg);
    background-size: 100px 120px;
}

.tres-cinco:focus {
    background-image: url(../css/cantantes/lennon.jpeg);
    background-size: 100px 120px;
}

.dos-cuatro:focus {
    background-image: url(../css/cantantes/carlos-sadness.jpeg);
    background-size: 130px 110px;
}

.tres-tres:focus {
    background-image: url(../css/cantantes/carlos-sadness.jpeg);
    background-size: 130px 110px;
}

.dos-cinco:focus {
    background-image: url(../css/cantantes/david.jpeg);
    background-size: 130px 120px;
}

.cuatro-cuatro:focus {
    background-image: url(../css/cantantes/david.jpeg);
    background-size: 130px 120px;
}

.tres-uno:focus {
    background-image: url(../css/cantantes/michael.jpeg);
    background-size: 100px 120px;
}

.cuatro-tres:focus {
    background-image: url(../css/cantantes/michael.jpeg);
    background-size: 100px 120px;
}

.tres-dos:focus {
    background-image: url(../css/cantantes/whitney.jpeg);
    background-size: 100px 120px;
}

.cuatro-dos:focus {
    background-image: url(../css/cantantes/whitney.jpeg);
    background-size: 100px 120px;
}


